body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-barlow-condensed: "Barlow Condensed";

  /* font sizes */
  --font-size-37xl: 56px;
  --font-size-base: 16px;
  --font-size-2xl: 21px;

  /* Colors */
  --color-chocolate-200: rgba(236, 105, 40, 0.6);
  --color-black: #000;
  --color-gray-100: #0f0f0f;

  /* Border radiuses */
  --br-8xs: 5px;

}
